@import reset.css
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap')

html
    body
        font-family: 'Raleway', sans-serif
        background-image: url('../assets/paperbg2.jpg')
        background-size: cover
        max-width: 1500px
        display: block
        margin: 0 auto
        header
            margin: 1em
            display: flex
            align-items: center
            justify-content: space-between
            color: yellow
            h1
                font-family: 'Roboto', sans-serif
                font-size: 4em
                font-weight: 800
                width: fit-content
                display: inline-block
            #menu
                width: fit-content
                display: inline-block
                font-size: 1.5em
                font-weight: 600
                li
                    display: inline-block
                    ul
                        display: inline-block
                        margin-left: 1em
    #sticker
        height: calc(100vh - 7em)
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        img
            max-height: 60%
            max-width: 60%